app-header {

    height: 15%;
    min-height: 15%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    header {
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .colorscheme-title {
        background: lightgray;
    }

    .colorscheme-multiple-list,
    .colorscheme-single-list { 
        background: white;
    }

}
