app-task {
   // padding: 40px;
    height: auto;
    width: 100%;
    display: inline-block;
}

div.task-wrapper {
    padding: 5px 20px 30px 20px;
    position: relative;
}

input {
    border: 1px solid transparent; 
    font-size: 1.2em;
    transition: background 0.2s ease;
    text-align: center;
}

input.task-input {
    height: 40px;
    margin: auto 30px;
}

input.editing {
}
