app-task {
    padding: 40px;
}

div.task-wrapper {
    padding: 5px 20px 30px 20px;
    position: relative;
}

input {
    border: 1px solid transparent; 
    background: whitesmoke;
    font-size: 1.2em;
    transition: background 0.2s ease;
    text-align: center;
}

input.task-input {
    height: 40px;
    margin: auto 30px;
}

input.editing {
    background: lightgray;
}
