div.settings-wrapper {

    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: whitesmoke;
    font-size: 2vw;

    ul {
        height: ~"calc(100% - 80px - 20px)";
        display: inline-block;
        width: auto;
        margin: 0;
        padding: 0;
        margin-bottom: 1px;
    }

    li {
        margin: 40px;
    }

    div.colorscheme-list {
    }
    #colortheme-slider {
        width: 75%;
        margin: 0 auto;
        height: 40px;
    }
    #colortheme-slider .ui-slider-handle {
        height: 40px;
        width: 40px;
    }

    div.color-chip-wrapper {
        display: block;
    }
    div.color-chip-wrapper color-chip,
    div.color-chip-wrapper colorscheme-selection {
        display: inline-block;
        width: auto;
    }

    ul.colorscheme-list {
    }

    ul li div.color-chip {
        height: 40px;
        width: 40px;
        display: inline-block;
    }

} 

div.export-modal {

        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: white;
        text-align: center;

        pre {

            display: inline-block;
            width: auto;
            margin: 20px auto;
            text-align: left;


        }

        header {
            width: 100%;
            height: 120px;
            box-shadow: 0px 4px 0px 0px lightgray;
            display: flex;
            align-items: center;
            i.copy, i.back {
                margin-left: 20px;
            }
        }

        button {
            height: 40px;
            border: 1px solid black;
            border-radius: 5px;
        }

        div.export-content-wrapper {
            margin: 0 auto;
        }
}
