app-settings {

    div.settings-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 20px;
        background: whitesmoke;
    }

}
