div.settings-wrapper {

    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: whitesmoke;
    font-size: 2vw;

    ul {
        height: ~"calc(100% - 80px - 20px)";
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 1px;
    }

    li {
        margin: 40px;
    }

} 

div.export-modal {

        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: lightgray;
        text-align: center;

        button {
            height: 40px;
            border: 1px solid black;
            border-radius: 5px;
        }

        div.export-content-wrapper {
            text-align: left;
            margin: 0 auto;
        }
}
