app-task-list {

    ul.task-list {

        background: white;
        width: 100%;
        height: auto;
        margin: 0;

        li.task-list-title {
            width: 100%;
            padding: 20px;
        }
        li.active {
            background: #00bcd4;
        }
        span.task-list-chevron {
            margin-left: 20px;
            font-size: 2em;
        }
    }

}
