app-task-list {

    ul.task-list {

        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;

        li.task-list-title {
            width: 100%;
            padding: 10px;
            background: #00bcd4;
        }
    }

}
