app-task-list {



    height: 100%;
    width: 100%;

    .height-expanded {
        height: auto !important;
    }

    &.ui-draggable-dragged {
        border: 1px solid red;
    }


    ul.task-list {

        height: ~"calc(100%/5)";
        width: 100%;
        margin: 0;
        padding: 0;

        border-bottom: 0.3px solid lightgray;

        li.task-list-title {

            position: relative;
            height: 100%;
            width: 100%;
            cursor: pointer;
            /* flex settings */
            display: flex;
            align-items: center;
            justify-content: center;
            
            input {
                display: inline-block;
                height: 50px;
                width: auto;
                margin-left: 25px + 20px; // 2em + icon margin
                margin: 30px 10px;
            }
            input[readonly] {
            }
        }

        li.task-list-title.expanded {

            & & {
                height: auto !important;
            }
        }

        li.task-list-title.active {
        }

        div.task-list-wrapper {

            position: relative; 
            margin-top: 4px;
            height: auto;

        }

        input[type=checkbox] {
              /* Double-sized Checkboxes */
              -ms-transform: scale(2); /* IE */
              -moz-transform: scale(2); /* FF */
              -webkit-transform: scale(2); /* Safari and Chrome */
              -o-transform: scale(2); /* Opera */
              padding: 10px;
              margin-right: 20px;
        }
        div.task-wrapper { 
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
    }

}
