app-list-manager {

    height: 100%;
    width: 100%;
    position: relative;

    .list-manager { 

        i.fa-plus {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 4vw;

        }
    }

}
