div.title-view-wrapper {

    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    background: white;

    h1.app-content-window-title {
        cursor: pointer;
        color: white;
        font-size: 3em;
        transition: color 1s ease-in, text-shadow 2s;
        letter-spacing: 1px;
        text-shadow: 1px 3px 0px transparent;
    }

    h1.app-content-window-title.fade-in-text-shadow {
        text-shadow: 1px 3px 0px black;
    }

}

div.title-view-wrapper.red-bg {
    background: red;
}

h1.app-content-window-title.text-shadow {
    text-shadow: 1px 3px 0px black !important;
}

h1.app-content-window-title.color {
    color: black;
}
