.app-utils {

    background: whitesmoke;
    height: 10%;
    display: flex;
    align-items: center;

    i.fa.fa-cog,
    i.fa.fa-list-ul {
        font-size: 4vh;
        padding-left: 20px;
    }
}

.title-view-color {
    background: lightgray;
}
