/*
    Global Styles for TaskList
*/

html, body {
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    touch-action: none;
}


body {
    display: flex;
    align-items: center;
}

body * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

div#app {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

input:focus, 
textarea:focus {
    outline: none;
}

i {
    cursor: pointer;
}

/* Component-Level Styles  */


div.title-view-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: background 1s ease;

    h1.app-content-window-title {
        cursor: pointer;
        color: white;
        transition: color 1s ease-in, text-shadow 1s ease-in;
        letter-spacing: 1px;
        text-shadow: 1px 3px 0px transparent;
    }

    h1.app-content-window-title.fade-in-text-shadow {
        text-shadow: 1px 3px 0px black;
    }

}

div.title-view-wrapper.fade-in-bg {
    background: red;
}

h1.app-content-window-title.fade-in-text-shadow {
    text-shadow: 1px 3px 0px black !important;
}

h1.app-content-window-title.fade-in-color {
    color: black;
}




app-title-page,
app-header,
app-content-window,
app-dashboard,
app-settings {
    width: 100%;
    position: fixed;
}

app-header,
app-dashboard {
    height: 80px;
}

app-title-page {
    width: 100%;
}

app-content-window {
    height: ~"calc(100% - 160px)";
}

app-header {

    top: 0px;
    left: 0px;
    margin: 0 auto;
    background: white;

    /* flex settings */
    display: flex;
    align-items: center;
    justify-content: center;

}

app-content-window {

    top: 80px;
    left: 0px;

}

app-dashboard {

    bottom:     0px;
    left:       0px;

}

app-settings {

    height: 100%;
    top: 0px;
    left: 0px;
    background: white;

}

@media screen and (max-width: 700px) {

    input.task-input { 
        width: 40%;
    }
        
}
