i.fa {
    cursor: pointer;
}

i.remove-task {
    font-size: 1.7em;
}

i.settings {
    font-size: 40px;
    margin-left: 20px;
}

i.add-list {

    position: fixed;
    bottom: 12px;
    left: 90px;
    font-size: 40px;
    opacity: 0.89;
    padding: 5px;

}

i.add-task {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: rgb(24,24,24);
    opacity: 1;
    font-size: 2em;
}

i.more-info {
    color: rgb(24, 24, 24);
    font-size: 1.7em;
}

i.to-top {

    position: absolute;
    top: 5%;
    right: 30px;
    font-size: 4em;
    opacity: 1;
    transition: opacity 1s ease;

}

i.toggle-list-expand {
}   

i.remove-list,
i.toggle-list-expand {
    opacity: 0.89;
    font-size: 2em;
    text-align: right;
}   

i.add-task,
i.remove-task,
i.more-info {
}

i.back,
i.copy {
    font-size: 40px;
}


