footer.dashboard {

    height: 100%;
    display: flex;
    align-items: center;

}

footer.colorscheme-title {
    background: red;
}

footer.colorscheme-multilist {
    border-top: 1px solid lightgray;
}
