/* Counter */

.settings {
    font-size:          40px;
    color:              black; 
    position:           fixed;
    top:                5px;
    right:              115px;
    transition:         0.2s color ease;
    z-index:            2001; /* one more than z-index for settings view */
}

.dashboard-open {
    display:        block;
}

.dashboard-closed {
    display:        none;
}

.settings:hover {
    color:          lightgray;
}

.remaining {
    color:          rgb(255, 109, 109);
    height:         60px;
    line-height:    60px;
    text-align:     center;
    width:          60px;
    background:     whitesmoke;
    position:       fixed;
    top:            0px;
    right:          20px;
}

.dashboard-bg-layer {
    height:         100%;
    width:          100%;
    position:       fixed;
    top:            0px;
    left:           0px;
    background:     white;
    z-index:        1999;
}

.dashboard-visible {
    opacity: 1;
}

.dashboard-invisible {
    opacity: 0;
    visibility: none;
}

.dashboard-wrapper ul li {
    padding: 15px;
}

.dashboard-wrapper ul li button {
    display: inline-block;

}

.dashboard-control-list {
    margin: 0 auto;
    width:  50%;
    margin-top: 150px;
    text-align: center;
}

